<div class="container">
  <h2>Here are all the shortened urls:</h2>

  <table id="links" class="table table-striped">
    <thead>
      <tr>
        <th>URL</th>
        <th>Short URL</th>
        <th>Clicks</th>
        <th>Registered</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <% @links.each do |list| %>
        <tr>
          <td><%= best_in_place list, :url, :as => :input, :value => list.url, :ok_button => 'Save', :cancel_button => 'Cancel', :display_with => :truncate, :helper_options => {:length => 60} %></td>
          <td><%= link_to root_url + list.short, root_url + list.short %></td>
          <td><%= list.count %></td>
          <% if list.user_id? %>
            <td><%= link_to list.user.email, admin_user_path(list.user_id) %></td>
          <% else %>
            <td>No</td>
          <% end %>
          <td><%= link_to 'Delete', list, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" %></td>
        </tr>

      <% end %>
    </tbody>
  </table>

</div>