<div class="container">
  <h2>Here are all the links:</h2>
  <table id="users" class="table table-striped">
    <thead>
      <tr>
        <th>URL</th>
        <th>Short URL</th>
        <th>Clicks</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |link| %>
        <tr>
          <td><%= best_in_place link, :url, :as => :input, :value => link.url, :ok_button => 'Save', :cancel_button => 'Cancel', :display_with => :truncate, :helper_options => {:length => 60} %></td>
          <td><%= link_to root_url + link.short, root_url + link.short %></td>
          <td><%= link.count %></td>
          <td><%= link_to 'Delete', link, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" %></td>
      <% end %>
    </tbody>
  </table>
</div>