<% if @users %>

<div class="container">
  <h2>Here are all the users:</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Email</th>
        <th>Last Login</th>
        <th>Last IP</th>
        <th>Links</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= @users.email %></td>
          <td><%= @users.last_sign_in_at %></td>
          <td><%= @users.last_sign_in_ip %></td>
          <td><%= link_to "View Links", admin_user_path(@users.id) %></td> 
    </tbody>
  </table>
</div>

<% end %>

<% if @links %>

<div class="container">
  <h2>Link:</h2>
 <table class="table table-striped">
    <thead>
      <tr>
        <th>URL</th>
        <th>Short URL</th>
        <th>Clicks</th>
        <th>Registered</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= best_in_place @links, :url, :as => :input, :value => @links.url, :ok_button => 'Save', :cancel_button => 'Cancel', :display_with => :truncate, :helper_options => {:length => 60} %></td>
          <td><%= link_to root_url + @links.short, root_url + @links.short %></td>
          <td><%= @links.count %></td>
          <% if @links.user_id? %>
            <td><%= link_to @links.user.email, admin_user_path(@links.user_id) %></td>
          <% else %>
            <td>No</td>
          <% end %>
          <td><%= link_to 'Delete', @links, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" %></td>
        </tr>
    </tbody>
  </table>
</div>

<% end %>